	<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 categories">
		<h4>Exercise Categories</h4>
		<hr> 
		<div class="primecategories">
			<div class="list-item" ui-sref-active="selected" ng-repeat="category in primecategories | orderBy:'ancestry'" >
				<a class="btn btn-xs btn-default" ui-sref="routines.id.categories.id({id: category.id})">{{category.name}}</a>
			</div>
		</div>
			
		<h4>Exercise subcategories</h4>
		<hr> 
		<div class="subcategories">
			<div ui-sref-active="selected" ng-repeat="category in subcategories" ><a class="btn btn-xs btn-default" ui-sref="categories.id({id: category.id})">{{category.name}}</a></div>
			<li ng-repeat="exercise in category.exercises">
				{{exercise.name}}
			</li>
		</div>
	</div>
	
	
	<div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">
		<!-- category.html loads here --> 
		<!-- <ui-view></ui-view> -->
	</div>
	

	




	

