<div class="col-md-12">
	<div class="col-md-4">
		<h3>Exercise Categories</h3>
		<li ui-sref-active="selected" ng-repeat="category in primecategories | orderBy:'ancestry'">
			<a ui-sref="categories.id({id: category.id })">{{category.name}}</a>
		</li>
		<h4>Exercise subcategories</h4>
		
		<li ui-sref-active="selected" ng-repeat="category in subcategories" ><a ui-sref="categories.id({id: category.id })">{{category.name}}</a></li>

	</div>
	<div class="col-md-8">
	<!-- category.html loads here --> 
		<div ui-view></div>

	</div>

</div>
	




	

