	<div class="col-xs-8 col-sm-4 col-md-4 col-lg-4 categories">
		<!-- <h4>Exercise Categories</h4> -->
		<!-- <hr> --> 
		
		<slick settings="slickConfig" infinite="true" slides-to-show=1 slides-to-scroll=2 >
			<div class="primecategories">
				<div class="list-item" ui-sref-active="selected" ng-repeat="category in primecategories | orderBy:'ancestry'" style="text-align: center;">
					<div ui-sref="categories.id({id: category.id})">
						<h3>{{ category.name }}</h3>
					</div>
						<hr>
						<div class="subcategories"> 
							<div ng-repeat="child in category.children" style="text-align: left;">
				            	<a ui-sref-active="selected" ui-sref="categories.id({id: child.id})"><div class="category-list list-item" ng-include="'tpl.html'"></div></a> 
				        	</div>
			        	</div>
				</div>
			</div>
		</slick>
		
    		<button class="btn btn-sm btn-default toggle" ng-click="toggleSlick()">Toggle</button>
	</div>
	
	
	<div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">
		<br>
		<!-- category.html loads here --> 
		<div ui-view class="well-nested"></div ui-view>
	</div>
	<script type="text/ng-template" id="tpl.html">
        {{ child.name }}
    </script>
    <script>
    	$( document ).ready(function() {

    		$( ".primecategories" ).slick(); 

    		$( "div.category-list.list-item" ).on('hover', function() {
				$( this ).addClass("animated pulse")
			})
    	})
    
		

	</script>

	




	

