<div>
	<form ng-submit="createTrainingSession(training_session)">
		<!-- Input for the session's number in routine --> 
		<input type="text" ng-model="training_session.order_in_routine" placeholder="Session number">

		<!-- Input for the session's description --> 
		<input type="text" ng-model="training_session.description">
        
		<button type="button" class="btn btn-primary btn-md" ng-click="createTrainingSession(session)">Build A New Training Session</button> 
	</form>
	
	<!-- Calendar view for training sessions --> 
	<div ui-calendar="uiConfig.calendar" ng-model="eventSources">
</div>

