<br> 
<div class="col-md-12">
	<h1 style="text-align:center;" class="dashboard">Trainer Dashboard</h1>
	<div class="col-md-6">

		<h2>Training Routines</h2>
		<li ui-sref-active="selected" ng-repeat="routine in routines | orderBy: 'name'">
			<a ui-sref="routines.id({id: routine.id })">{{routine.name}}</a><br>
		</li>
		
		<!-- Routine Form --> 
		<div class="routines">
			<table>
				<tr>
					<td>Name:  </td>
					<td>&nbsp;</td>
					<td valign="top">{{routine.name}}</td>
				</tr>
				<tr>
					<td>Description:</td>
					<td>&nbsp;</td>
					<td valign="top">{{routine.description}}</td>
				</tr>
				<tr>
					<td>Focus:</td>
					<td>&nbsp;</td>
					<td valign="top">{{routine.tags}}</td>
				</tr>
				<tr>
					<td>Duration: &nbsp; </td>
					<td>&nbsp;</td>
					<td valign="top">{{routine.duration}} <span ng-if="routine.duration">weeks</span> </td>
				</tr>
				<tr>
					<td>Video &nbsp; </td>
					<td>&nbsp;</td>
					<td valign="top"><youtube-video video-id="routine.video_url" player-width="'240px'" player-height="'135px'" player-vars="playerVars" ></youtube-video></td>
				</tr>
				<tr>
					<td>Cost: &nbsp; </td>
					<td>&nbsp;</td>
					<td valign="top"><span ng-if="routine.cost">$</span>{{routine.cost}}</td>
				</tr>
				<tr>
					<td>Trial?: &nbsp; </td>
					<td>&nbsp;</td>
					<td valign="top">{{routine.free_trial | yesNo }}</td>
				</tr>
				<tr>
					<td ng-if="routine.free_trial">Trial Period: &nbsp; </td>
					<td>&nbsp;</td>
					<td ng-if="routine.free_trial" valign="top">{{routine.free_trial_duration}} <span ng-if="routine.free_trial_duration">weeks</span></td>
				</tr>
			</table>

			<button class="btn btn-primary" ng-click="hideme = !hideme" title="Build A New Training Routine"><span class="glyphicon glyphicon-plus" ng-hide="hideme" ></span><span class="glyphicon glyphicon-minus" ng-show="hideme" ></span></button>
			
			<div class="hideme" ng-hide="!hideme"><!-- New Training Routine --> 
				<form>
					<input name="routine-name" ng-model='routine.name' type="text" placeholder="name">
					<br>
					<input name="routine-description" ng-model="routine.description" type="textarea" placeholder="description">
					<br>
					<tags-input ng-model="routine.tags">
        				<auto-complete source="loadTags($query)"></auto-complete>
    				</tags-input>
					<!-- <input name="routine-focus" ng-model="routine.focus" id="routine-focus" type="textarea" placeholder="focus"> -->
					<br>
					<div class="w-timeline-item">
						<input name="routine-duration" ng-model="routine.duration" type="number" id="routine-duration" placeholder="duration (weeks)">
					</div>
					<br>
					<input name="video_url" ng-model="routine.video_url" type="text" id="video_url" placeholder="youtube video id" >
					<br>
					<input name="cost" ng-model="routine.cost" type="text" id="cost" placeholder="cost" >
					<br>
					<label for="free-trial">Free Trial?</label>
					<label for="free-trial-true">Yes</label>
					<input name="free-trial-true" ng-value="true" ng-model="routine.free_trial" type="radio" id="free-trial-true" >
					<label for="free-trial-true">No</label>
					<input name="free-trial-false" ng-value="false" ng-model="routine.free_trial" type="radio" id="free-trial-false">
					<br>
					<div ng-if="routine.free_trial">
						<input name="trial-duration" ng-model="routine.free_trial_duration" ng-required="!routine.free-trial" type="number" id="trial-duration" placeholder="trial duration (weeks)" >
					</div>
					<br>
					<button type="button" class="btn btn-primary btn-md" ng-click="createRoutine(routine)" >Build A New Training Routine</button>
				</form>

			</div>
		</div>
	</div>
	
	<div ui-view></div>
</div>
<script>

</script>
