<br>
<div class="col-md-12">
	<h1 style="text-align:center;" class="dashboard">Trainer Dashboard</h1>
	<div class="row">
		<div class="col-md-4">
			<h2>Training Routines</h2>
			<div ui-sref-active="selected" ng-repeat="routine in routines | orderBy: 'name'">
				<a class="btn btn-sm btn-default" ui-sref="routines.id({id: routine.id })">{{routine.name}}</a>
			</div>
			
			<div class="routines"><!-- new routine --> 
				
				<button class="btn btn-primary" ng-click="hideme = !hideme" title="Build A New Training Routine"><span class="glyphicon glyphicon-plus" ng-hide="hideme" ></span><span class="glyphicon glyphicon-minus" ng-show="hideme" ></span></button>
				
				<div class="hideme" ng-hide="!hideme"><!-- hideable routine form --> 
					<div> <!-- routine info --> 
						<p><span class="embolden">Name: </span>{{routine.name}}</p> 

						<p><span class="embolden">Description: </span>{{routine.description}}</p>
					
						<p><span class="embolden">Focus (tags):</b>
						<span ng-repeat="tag in routine.tags" valign="top">{{tag.name + " "}}</span></p>

						<p><span class="embolden">Duration: </span> {{routine.duration}} <span ng-if="routine.duration">weeks</span></p>

						<b>Sessions/week:</b>
						<p>{{routine.sessions_per_week}}<span ng-if="routine.sessions_per_week"> sessions/week</span>
						 
						<span ng-if="(routine.duration && routine.sessions_per_week)"> = {{routine.duration * routine.sessions_per_week}} total sessions</span></p>

						<span class="embolden">Video: </span>
						<p><youtube-video video-id="routine.video_url" player-width="'240px'" player-height="'135px'" player-vars="playerVars" ></youtube-video></p>

						<p><span class="embolden">Cost: </span>
						<span ng-if="routine.cost">$</span>{{routine.cost}}</p>

						<p><span class="embolden">Trial?: </span>
						{{routine.free_trial | yesNo }}</p>

						<p ng-if="routine.free_trial"><span class="embolden">Trial Period: </span> {{routine.free_trial_duration}} <span ng-if="routine.free_trial_duration">weeks</span></p>
					</div> <!-- end of routine info -->

					<form>
						<input name="routine-name" ng-model='routine.name' type="text" placeholder="name">
						<br>
							<input name="routine-description" ng-model="routine.description" type="textarea" placeholder="description">
						<br>
							<tags-input ng-model="(routine.focus)" display-property="name">
	        				<auto-complete source="loadTags($query)"></auto-complete></tags-input>
						<br>
						<input name="routine-duration" ng-model="routine.duration" type="number" id="routine-duration" placeholder="duration (weeks)">
						<br>
						<input name="routine-sessions" ng-model="routine.sessions_per_week" type="number" id="routine-sessions" placeholder="# of sessions/week">
						<br>
						<input name="video_url" ng-model="routine.video_url" type="text" id="video_url" placeholder="youtube video id" >
						<br>
						<input name="cost" ng-model="routine.cost" type="text" id="cost" placeholder="cost" >
						<br>
						<label for="free-trial">Free Trial?</label>
						<label for="free-trial-true">Yes</label>
						<input name="free-trial-true" ng-value="true" ng-model="routine.free_trial" type="radio" id="free-trial-true" >
						<label for="free-trial-true">No</label>
						<input name="free-trial-false" ng-value="false" ng-model="routine.free_trial" type="radio" id="free-trial-false">
						<br>
						<div ng-if="routine.free_trial">
							<input name="trial-duration" ng-model="routine.free_trial_duration" ng-required="!routine.free-trial" type="number" id="trial-duration" placeholder="trial duration (weeks)" >
						</div>
						<br>
						<button type="button" class="btn btn-primary btn-md" ng-click="createRoutine(routine)" >Build A New Training Routine</button>
					</form>
				</div> <!-- end of hideable routine form --> 
			</div> <!-- end of new routine --> 
		</div>
		<div class="col-md-8">
			<ui-view></ui-view>
		</div>
	</div>
</div>
 
	


