<div class="col-md-8">
	<div class="col-md-4">
		<!-- Workouts --> 
		<div>
			<br>
			<h2>Workouts</h2>
			<li ui-sref-active="selected" ng-repeat="workout in workouts">
				<a ui-sref="workouts.id({id: workout.id })">{{workout.name}}</a>
			</li>
		</div>
	
		<!-- Routine Form --> 
		<div>
		
			
			

			<button class="btn btn-primary" ng-click="hideme = !hideme" title="Create A New Workout"><span class="glyphicon glyphicon-plus" ng-hide="hideme" ></span><span class="glyphicon glyphicon-minus" ng-show="hideme" ></span></button>

			<!-- Workout Form --> 
			<div class="hideme" ng-hide="!hideme">
				<h4>Name: {{workout.name}}</h4>
				<h4>Description: {{workout.description}}</h4>
				<form>
					<input name="workout-name" ng-model='workout.name' type="text" placeholder="name">
					<br>
					<input name="workout-description" ng-model="workout.description" type="textarea" placeholder="description">
					<br>
					<button type="button" class="btn btn-primary btn-md" ng-click="createWorkout(workout)" >Build a new workout</button>
				</form>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<ui-view="workout"></ui-view>
	</div>
	
</div>