<div class="col-xs-10 col-sm-8 col-md-8">
	<!-- Workouts --> 
	<div class="categories">
		<h4>Workouts</h4>
		<li style="list-style-type:none " ng-repeat="workout in workouts">
			<a class="btn btn-default" ui-sref-active="selected" ui-sref="workouts.id({id: workout.id })">{{workout.name || "no data"}}</a>
			<button class="btn btn-primary" ng-click="destroyme = !destroyme"><span title="Delete Workout?" class="glyphicon glyphicon-minus" ng-hide="destroyme" ></span><span title="Cancel " class="glyphicon glyphicon-remove" ng-show="destroyme" ></span></button>
			<button class="btn btn-primary" ng-show="destroyme" ng-click="deleteWorkout(workout)" title="Delete Workout"><span class="glyphicon glyphicon-ok" ></span></button>
		</li>
	</div>

	<!-- New Workout --> 
	<div>
		<button class="btn btn-primary" ng-click="hideme = !hideme" title="Create A New Workout"><span class="glyphicon glyphicon-plus" ng-hide="hideme" ></span><span class="glyphicon glyphicon-minus" ng-show="hideme" ></span></button>

		<!-- Workout Form --> 
		<div class="hideme" ng-hide="!hideme">
			<h4>Name: {{workout.name}}</h4>
			<h4>Description: {{workout.description}}</h4>
			<form>
				<input name="workout-name" ng-model='workout.name' type="text" placeholder="name">
				<br>
				<input name="workout-description" ng-model="workout.description" type="textarea" placeholder="description">
				<br>
				<button type="button" class="btn btn-primary btn-md" ng-click="createWorkout(workout)" >Build a new workout</button>
			</form>
		</div>
	</div>
</div>
<div class="col-xs-6 col-sm-4">
	<!-- <ui-view></ui-view> -->
</div>
	
