/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require ng-tags-input
 *= require angular-xeditable
 *= require slick-carousel
 */

@import "bootstrap-sprockets"; 
@import "bootstrap"; 

form .centerform {
    width: 300px;
    margin: 0 auto;
}

.program-focus {
    font-size: 10; 
}
body {
    // background-image: url("horizontal-construction.jpg"); 
    background-size: cover; 
    color: #000
}
// .background {
//     background-color: #FFF; 
//     background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
//     // background-size: 
// }

.carousel {
  position: relative;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%); 
}

.carousel-caption {
	color: #000
}

.carousel-caption .btn-primary {
    text-shadow: none;
    background-color: #FFE200; 
    border-color: #FFFFFF
}

a:visited {
    color: #000;
}

.navbar-default .navbar-brand {
    color: #F7BE00;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background-color: #ffe200;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background-color: #000; 
}
.navbar-default .navbar-collapse, .navbar-header {
    border-color: #e7e7e7;
    background-color: #000; 
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFE200;
}
.navbar-default .navbar-toggle {
    border-color: #FFE200;
}
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
   background-color: #FFE200; 
   border-color: #000
}
.navbar-default .navbar-toggle:focus .icon-bar, 
.navbar-default .navbar-toggle:hover .icon-bar {
   background-color: #000; 
}

.navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #ffe200;
    color: #000;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffe200;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #000 ;
    background-color: #FFE200
}
.navbar-default .navbar-nav > li > a {
    color: #FFE200;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #FFF;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #eeeeee;
    background-color: transparent;
}
.dropdown-menu {
    background-color: #000
}
.dropdown-menu > li > a {
    color: #FFE200
}

.carousel-caption .btn-primary {
    color: #FFE200;
    background-color: #000;
    border-color: #FFE200 ;
}

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.container {
    
}
.container-marketing {
	h2 {
		color: #000
	}
}
.container-marketing#one {
	color: #000
}

a.btn.btn-default:hover {
   color: #000;
    background-color: #FFE200;
    border-color: #000; 
    border-radius: 10px
}
a.btn.btn-default {
   color: #F7BE00;
    background-color: #000;
    border-color: #FFF; 
    border-radius: 5px; 
    margin: 3px 3px 3px 3px

}

.btn.btn-default {
    border-radius: 7px; 
}

.marketing#one.btn-default:hover {
    color: #000;
    background-color: #FFE200;
    border-color: #000;
} 

.btn-primary {
    color: #FFE200;
    background-color: #000000;
    border-color: #FFFFFF;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
    color: #000;
    background-color: #FFE200;
    border-color: #000;
}
.btn-default {
    color: #F7BE00;
    background-color: #000;
    border-color: #FFF
}
.btn-default:hover {
    color: #000;
    background-color: #FFE200;
    border-color: #000; 
    box-shadow: 5px 5px 5px #333
}
// .btn-default:hover; after {
//     content: 'Sign Up'
// }

.category-list {
    color: #FFF;
    background-color: #111;
    opacity: .95; 
    border-color: #FFF; 
    margin-bottom: 2px; 
    border-radius: 5px; 
    padding: 5px 5px 5px 10px
}
a.category-list {
    color: #FFE200
}
.category-list:hover {
        opacity: 1; 
        color: #F7BE00;
        background-color: #000;
        border-left: #FFE200 2px; 
        box-shadow: 5px 5px 5px #333
}
.session-list {
    color: #FFF;
    background-color: #111;
    opacity: .95; 
    border-color: #FFF; 
    margin-bottom: 2px; 
    border-radius: 5px; 
    padding: 5px 5px 5px 10px
}
.session-list:hover {
        opacity: 1; 
        color: #F7BE00;
        background-color: #000;
        border-left: #FFE200 2px; 
        box-shadow: 5px 5px 5px #333
}
.workout-list {
    color: #FFF;
    background-color: #111;
    opacity: .95; 
    border-color: #FFF; 
    margin-bottom: 2px; 
    border-radius: 5px; 
    padding: 5px 5px 5px 10px
}
.workout-list:hover {
        opacity: 1; 
        color: #F7BE00;
        background-color: #000;
        border-left: #FFE200 2px; 
        box-shadow: 5px 5px 5px #333
}

.has-exercises {
    color: green
}


.parent {
    display: inline; 
    color: #777; 
    font-size: 10px

}

footer.ng-scope {
    background-color: #000; 
    color: #FFE200

}
footer.ng-scope a {
    color: #F7BE00; 
    
}

div#routine {
    background-color: #CCC; 
}

a.editable-click > h4 {
    color: #FFE200; 
    background-color: #000
}

.nav > li > a:hover {
    background-color: #FFE200; 
    color: #000; 
    border: 1px solid #000
} 

.nav > li > a:focus {
    text-decoration: none;
    background-color: #000;
    color: #FFE200;
}
.nav {
    // background-color: #000 
}
a.ng-binding:hover {
    color: #FFE200
}
li.ng-scope.selected > a {
    color: #FFE200; 
    background-color: #000 
}

h1.dashboard {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0.25) 100%);
    color: #FFE200; 
    border-radius: 4px
}
.routines {
    color: #000; 
    border-radius: 4px; 
}

th {
    vertical-align: top; 
}

input {
    color: #000
}

.w-timeline {
    }
    .w-timeline-h {
        overflow: hidden;
        }
        .w-timeline-list {
            position: relative;
            margin-top: 20px; /* Temp */
            margin-bottom: 10px;
            }
            .w-timeline-list:before {
                display: block;
                content: '';
                position: absolute;
                top: 13px; /* Temp */
                left: 0;
                width: 100%;
                height: 4px; /* Temp */
                z-index: 10;
                }
            .w-timeline-list-h {
                text-align: justify;
                line-height: 0;
                }
                .w-timeline-list-h:after {
                    display: inline-block;
                    content: '';
                    height: 0;
                    width: 100%;
                    overflow: hidden;
                    visibility: hidden;
                    }
                .w-timeline-item {
                    display: inline-block;
                    text-align: center;
                    cursor: pointer;
                    position: relative;
                    z-index: 11;
                    }
                    .w-timeline-item-bullet {
                        display: block;
                        width: 30px; /* Temp */
                        height: 30px; /* Temp */
                        }
                    .w-timeline-item-title {
                        display: block;
                        position: absolute;
                        left: 0;
                        top: -20px;
                        height: 20px;
                        line-height: 20px;
                        width: 100%;
                        }
        .w-timeline-sections {
            }
            .w-timeline-section {
                display: none;
                position: relative;
                }
            .w-timeline-section.active {
                display: block;
                }
                .w-timeline-section-title {
                    display: none;
                    height: 30px; /* Temp */
                    padding: 10px 0; /* Temp */
                    cursor: pointer;
                    }
                    .w-timeline-section-title:before {
                        display: block;
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 13px; /* Temp */
                        width: 4px; /* Temp */
                        height: 100%;
                        z-index: 10;
                        }
                    .w-timeline-section-title-bullet {
                        display: block;
                        position: absolute;
                        top: 10px; /* Temp */
                        left: 0;
                        width: 30px; /* Temp */
                        height: 30px; /* Temp */
                        z-index: 11;
                        }
                    .w-timeline-section-title-text {
                        display: block;
                        height: 30px; /* Temp */
                        line-height: 30px; /* Temp */
                        margin-left: 40px; /* Temp */
                        }
                .w-timeline-section-content {
                    padding: 20px;
                    position: relative;
                    z-index: 11;
                    }

.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  // border: 1px solid black;
  background: white;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.hideme {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
    -webkit-animation-duration: 0.5s
}

.embolden {
    font-weight: bold
}

div.training-week {
    background-color: #999; 
    border-radius: 10px; 
    margin-bottom: 2px
}

div.training-session {
    background-color: #000;
    border-radius: 5px; 
    border: #FFE200 solid 1px; 
    margin: 0px; 
    text-align: center; 
    padding: 1px;
    p {
        color: #F7BE00; 
        font-size: 8px; 
        font-weight: bold

    }
}
div#session.col-xs-2.col-sm-2.col-md-2.ng-scope {
    margin: 1px 1px; 
    padding: 1px 1px
}

div.training-session:hover {
    background-color: #FFE200; 
    border-radius: 10px;
    border: #000 solid 1px;
    box-shadow: 5px 5px 5px #333; 
     p {
        color: #000; 
        font-size: 8px; 
        font-weight: bold

    }
}
.categories {
    background-color: #BFBFBF;
    padding: 10px; 
    border-radius: 10px 
}
.primecategories {
    
    padding: 5px; 
    border-radius: 5px

}
.subcategories {
   
    padding: 5px; 
    border-radius: 5px 
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.428571429px;
    background-color: #000;
    color: #F7BE00;
    border: 2px solid #666;
    border-radius: 5px;
    .close {
        float: right;
        font-size: 21px;
        font-weight: bold;
        line-height: 1;
        color: #ffe200;
        text-shadow: 0 1px 0 #fff;
        opacity: 0.7;
        filter: alpha(opacity=20);
    }
}

// .hideme.ng-hide {
//     opacity: 0; 
//     line-height: 0; 
// }