/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

@import "bootstrap-sprockets"; 
@import "bootstrap"; 

form .centerform {
    width: 300px;
    margin: 0 auto;
}

.carousel {
  position: relative;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%); 
}

.carousel-caption {
	color: #000
}

.carousel-caption .btn-primary {
    text-shadow: none;
    background-color: #FFE200; 
    border-color: #FFFFFF
}

a:visited {
    color: #000;
}

.navbar-default .navbar-brand {
    color: #F7BE00;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background-color: #000; 
}
.navbar-default .navbar-collapse, .navbar-header {
    border-color: #e7e7e7;
    background-color: #000; 
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFE200;
}
.navbar-default .navbar-toggle {
    border-color: #FFE200;
}
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
   background-color: #FFE200; 
   border-color: #000
}
.navbar-default .navbar-toggle:focus .icon-bar, 
.navbar-default .navbar-toggle:hover .icon-bar {
   background-color: #000; 
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffe200;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #FFF ;
}
.navbar-default .navbar-nav > li > a {
    color: #FFE200;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #FFF;
}

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.container-marketing {
	h2 {
		color: #000
	}
}

.container-marketing#one {
	color: #000
}

.dropdown-menu {
    background-color: #000
}

.dropdown-menu > li > a {
    color: #FFE200
}