// $icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// // bower:scss
// @import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// // endbower


/*----- Animations for views -----*/
/* Have to set height explicity on ui-view 
to prevent collapsing during animation*/
/*.well[ui-view]{
 height: 100%; 
}*/

// .well[ui-view] {
//   padding: 10px;
//   background-color: #fff; 
//   border: none;
// }
// .well-nested[ui-view] {
//     min-height: 20px;
//     padding: 19px;
//     margin: 0px;
//     margin-bottom: 20px;
//     background-color: #f5f5f5;
//     border: 1px solid #e3e3e3;
//     border-radius: 4px;
//     box-shadow: inset 0 1px 1px rgba(100, 100, 100, 0.05);
// }

.ui-view-container {
  position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: relative;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1; 
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}

.ng-hide-remove      { 
  // animation:0.5s flipInX ease; 
}
.ng-hide-add    { 
  // animation:0.5s flipOutX ease; 
}
/*----- end animations ----- */



.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

.input-group {
  text-align: center
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

.signup-form {
  border: 4px solid #888;
}

form {
  margin: 0 auto;  
  padding-left: 60px;
  padding-right: 60px;
  max-width: 500px 
}
.linkedin {
  background-color: #337ab7;
  color: #fff;
}

.beyond-resume {
  box-shadow: 2px 2px 2px #00b0ff; 
  border-radius: 20px; 
  margin: 20px
}


.interview {
  color: #FFF; 
  background-color: #b30ab3; 
   box-shadow: 1px 1px 1px #666;
  
  a.btn.btn-lg.btn-default.interview:hover {
    box-shadow: none; 
    background-color: #d33fcf
  }
}

.talent {
  border: #00b0ff solid 1px;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 10px; 
  margin-left: 0; 
  margin-right: 0;
  
}

.talent-info {
  background-color: rgba(243, 213, 0, 0.5); 
  padding: 20px; 
  margin: 20px
}
.talent a{
    color: #5a5a5a;
    text-decoration: none
}

.talent:hover {

  .talent-info {
    box-shadow: 1px 1px 1px #666;
    background-color: #FFE100; 
    color: #333
  } 
}
.talented {
  margin-top: 20px
}
.client-list {
  display: inline;  
  list-style-type: none
}

.talent-click  {
  border: none; 
  font-size: 10px;
  color: #cd00d0
}

.skills {
  border-right: #00b0ff double 1px
}
.haves {
  padding-left: 15px;
  padding-right: 15px
}

.must-have {
  background-color: rgba(0, 176, 255, 1); 
  color: #fff;
  padding: 10px;
  border-right: 1px solid #fff
}
.wants-have {
  background-color: rgba(0, 176, 255, 0.75); 
  color: #fff;
  padding: 10px;
  border-right: 1px solid #fff
}

.wont-accept {
  background-color: rgba(0, 176, 255, 0.5); 
  color: #fff;
  padding: 10px;
  border-right: 1px solid #fff
}
.pro-goal {
  color: #fff;
  background-color: #b30ab3;
  padding: 5px
}

.btn-lg, .btn-group-lg > .btn {
    padding: 5px 8px;
    font-size: 18px;
    line-height: 1;
    border: none;
    margin-bottom: 22px
}
