<!DOCTYPE html> 
<html>
	<head>
		<title>
			Categories
		</title>
		<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	</head>
	<body>
	<div class="container">
		<div class"row">
			<div class="col-md-6">
				<h1><%= @category.name %></h1>
					<p><%= @category.description %> </p>
					<% @category.children.all.each do |child| %>
						<p><%= link_to "#{child.name}", child %></p>
					<% end %> 
			</div>
			<div class="col-md-3"></div>
			<div class="col-md-3"></div>
		</div>
	</div>
	</body>
</html>