<div class="row">
	<div class="col-xs-4 col-sm-4 col-md-4"></div>
	<div class="col-xs-4 col-sm-4 col-md-4">
		<div class="page-header">
	  		<h1>Login</h1>
		</div>

		<ul style="text-align: center;" class="nav nav-pills">
	        <li ng-class="{active:tab.isSet(1)}"><a href ng-click="setTab(1)">Athlete</a></li>
	        <li ng-class="{active:tab.isSet(2)}"><a href ng-click="setTab(2)">Trainer</a></li>
	    </ul>

		<div ng-show="isSet(1)">
			<form style="margin: 0 auto;" >
				<label><h4>Athlete</h4></label>
		  		<div class="input-group">
		    		<input type="email" class="form-control" placeholder="Email" ng-model="athlete.email">
		  		</div>
			  	<div class="input-group">
			    	<input type="password" class="form-control" placeholder="Password" ng-model="athlete.password">
			  	</div>
		  		<button type="button" ng-click="loginAthlete(athlete)" class="btn btn-primary">Dominate!</button>
			</form>	
		</div>
		<div ng-show="isSet(2)">
			<form style="margin: 0 auto;" ng-submit="loginTrainer(trainer)">
				<label><h4>Trainer</h4></label>
		  		<div class="input-group">
		    		<input type="email" class="form-control" placeholder="Email" ng-model="trainer.email">
		  		</div>
			  	<div class="input-group">
			    	<input type="password" class="form-control" placeholder="Password" ng-model="trainer.password">
			  	</div>
		  		<button type="button" ng-click="loginTrainer(trainer)" class="btn btn-primary">Create Beasts!</button>
			</form>	
		</div>
		<div>
			<p>Don't have an account? <a ui-sref="register">Sign up!</a></p>
		</div>
	</div>
	<div class="col-xs-4 col-sm-4 col-md-4"></div>
</div>