  <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container" ng-controller="navCtrl">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">The Platform</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li ng-hide="signedIn()"><a ui-sref="home">Home</a></li>
              <!-- athlete nav --> 
              <li ng-show="athleteSignedIn()"><a ui-sref="train">Train</a></li>
              <li ng-show="athleteSignedIn()"><a ui-sref="athlete-profile">Profile</a></li>
              <li ng-show="athleteSignedIn()"><a ui-sref="programs">Programs</a></li>
              <!-- trainer nav --> 
              <li ng-show="trainerSignedIn()"><a ui-sref="trainer-profile">Profile</a></li>
              <li ng-show="trainerSignedIn()"><a ui-sref="routines">Routines</a></li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">GreatCornerback.com <span class="caret"></span></a>
                <ul class="dropdown-menu">
                   <li><a href="http://www.greatcornerback.com/index.html" target="_blank">GreatCornerback.com</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="http://www.greatcornerback.com/cornerback-training.html" target="_blank">Cornerback Skills Training</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="http://www.greatcornerback.com/cornerback-training.html" target="_blank">Speed & Agility Training</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="http://www.greatcornerback.com/speed-training.html" target="_blank">Football Skills</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="http://www.greatcornerback.com/cornerback-weight-training.html" target="_blank">Cornerback Weight Training</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="http://www.greatcornerback.com/cornerback-iq.html" target="_blank">Cornerback IQ</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="http://www.greatcornerback.com/diet-supps.html" target="_blank">Football Diet</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li ng-hide="signedIn()"><a ui-sref="login">Log In</a></li>
              <li ng-hide="signedIn()"><a ui-sref="register">Register</a></li>
              <li ng-show="signedIn()"><a ui-sref="/">{{user.roles_name[0]}}: {{ user.username }}</a></li>
              <li ng-show="signedIn()"><a href="#" ng-click="logout()">Log Out</a></li>
          </ul>
          </div><!--/.nav-collapse -->
        </div>
  </nav>
  