<div class="videogular-container">	
		<videogular vg-player-ready="onPlayerReady" vg-theme="config.theme.url" vg-autoplay="config.autoPlay">
			<vg-media vg-src="categoryCtrl.config.sources[0].src" vg-youtube="rel=1;showinfo=1"></vg-media>
			<vg-controls vg-autohide="config.autoHide" vg-autohide-time="config.autoHideTime">
				<vg-play-pause-button></vg-play-pause-button>
				<vg-timedisplay>{{ currentTime | date:'mm:ss' }}</vg-timedisplay>
				<vg-scrubBar>
					<vg-scrubbarcurrenttime></vg-scrubbarcurrenttime>
				</vg-scrubBar>
				<vg-timedisplay>{{ timeLeft | date:'mm:ss' }}</vg-timedisplay>
				<vg-volume>
					<vg-mutebutton></vg-mutebutton>
					<vg-volumebar></vg-volumebar>
				</vg-volume>
				<vg-fullscreenButton></vg-fullscreenButton>
			</vg-controls>
			<vg-poster-image vg-url='config.plugins.poster.url'></vg-poster-image>
			<vg-buffering></vg-buffering>
			<vg-overlay-play vg-play-icon="config.theme.playIcon"></vg-overlay-play>
			<vg-poster-image vg-url='config.plugins.poster.url'></vg-poster-image>
			<vg-buffering></vg-buffering>
		</videogular>
	</div>