<div class="col-md-12">
	<div class="col-md-6"> 
		<h2>Training Programs</h2>
		<hr>
		<div class="col-sm-12 col-md-8 col-lg-8" id="routine" ng-repeat="program in allPrograms" >
			<h5>{{program.name}}</h5>
			<div class="routine-info"> 
				
				<div>
					<p><b>Focus: </b>
					<span class="program-focus">{{program.focus}}</span> </p>
				</div>
				<div>
					<p><b>Duration:</b> 
						{{program.duration}} weeks
					</p>
				</div>
				<div>
					<p><b>Trainer: </b> {{program.trainer_id}}</p>
				</div>
				<div>
					<p ui-sref-active="selected">
						<a type="button" class="btn btn-default" ui-sref="programs.id({id: program.id })">Learn more</a>
					</p>
				</div>
							
			</div>
		</div>
	</div> 
	<div class="col-md-6">
	<!-- program.html loads here --> 
		<ui-view></ui-view>
	</div>

</div>
