<div class="col-md-12">
	<div class="col-md-6"> 
		<h2>Training Programs</h2>
		<hr>
		<div class="col-sm-12 col-md-8 col-lg-8" id="routine" ng-repeat="program in allPrograms" >
			<h5>{{program.name}}</h5>
			<div class="routine-info"> 
				<table>
					<tr>
						<td><b>Focus: </b></td>
						<td>{{program.focus}}</td>
					</tr>
					<tr>
						<td><b>Duration: </b></td>
						<td>{{program.duration}} weeks</td>
					</tr>
					<tr>
						<td><b>Trainer: </b></td>
						<td>{{program.trainer_id}}</td>
					</tr>
					
					<tr>
						<td ui-sref-active="selected">
							<a type="button" class="btn btn-default" ui-sref="programs.id({id: program.id })">Learn more</a>
						</td>
					</tr>
				</table>			
			</div>
		</div>
	</div> 
	<div class="col-md-6">
	<!-- program.html loads here --> 
		<ui-view></ui-view>
	</div>

</div>
