<div>
	<form ng-submit="createTrainingSession()">
	
  		<input type="datetime-local" id="exampleInput" name="input" ng-model="traininSession.scheduled_on"
      placeholder="yyyy-MM-ddTHH:mm:ss" min="2001-01-01T00:00:00" max="2013-12-31T00:00:00" required />
      <br>
      	<select type="text" placeholder>

		<input type="checkbox" ng-model="training_session.completed"
           ng-true-value="'YES'" ng-false-value="'NO'">
        
        <br/>
		<button></button>
	</form>

	<div ui-calendar="uiConfig.calendar" ng-model="eventSources">
</div>

