<div>
	<form ng-submit="createTrainingSession()">
		<label for="exampleInput">When is this scheduled:</label>
  		<input type="datetime-local" id="exampleInput" name="input" ng-model="traininSession.scheduled_on"
      placeholder="yyyy-MM-ddTHH:mm:ss" min="2001-01-01T00:00:00" max="2013-12-31T00:00:00" required /><br>
		<label>Completed?
		<input type="checkbox" ng-model="trainingSession.completed"
           ng-true-value="'YES'" ng-false-value="'NO'">
        </label>
        <br/>
		<button>Finish Training Session</button>
	</form>

	<div ui-calendar="uiConfig.calendar" ng-model="eventSources">
</div>

