<div class="col-md-12">
	<div class="col-md-4">
		<h2>Workouts</h2>
		<li ui-sref-active="selected" ng-repeat="workout in workouts">
			<a ui-sref="workouts.id({id: workout.id })">{{workout.name}}</a>
		</li>
	</div>
	<!-- Routine Form --> 
		<div>
			<table>
				<tr>
					<th>Name</th><th>Description</th><th>Focus</th><th>Duration</th>
				</tr>
				<tr>
					<td>{{routine.name}}</td><td>{{routine.description}}</td><td>{{routine.focus}}</td><td>{{routine.duration}} weeks</td>
				</tr>
			</table>

			<button class="btn btn-primary" ng-click="hideme = !hideme" title="Create A New Workout"><span class="glyphicon glyphicon-plus" ng-hide="hideme" ></span><span class="glyphicon glyphicon-minus" ng-show="hideme" ></span></button>

			<!-- Workout Form --> 
			<div class="hideme" ng-hide="!hideme">
				<form>
					<input name="workout-name" ng-model='workout.name' type="text" placeholder="name">

					<input name="workout-description" ng-model="workout.description" type="textarea" placeholder="description">

					<button type="button" class="btn btn-primary btn-md" ng-click="createWorkout(workout)" >Build A New Training Routine</button>
				</form>
			</div>
		</div>
	
		<ui-view></ui-view>
	</div>