<hr>
<div class="col-md-12">
	<div class="col-md-4">
		<li ui-sref-active="selected" ng-repeat="workout in workouts">
			<a ui-sref="workouts.id({id: workout.id })">{{workout.name}}</a>
		</li>
	</div>
	<div class="col-md-8" >
		<table>
			
				<th>
					<tr>
						<td>Create a New Workout</td>
					</tr>
				</th>
		</table>	
		<form ng-submit="createWorkout()">
			<input name="workout-name" ng-model="workout.name" type="text" placeholder="name">
		
			<input name="workout-description" ng-model="workout.description" type="textarea" placeholder="description">
		
			<select name="workout-training-program" ng-model="workout.trainingProgram" ng-options="trainingProgram as trainer.trainingPrograms" >
		
			<button type="submit" class="btn btn-primary btn-md" value="Add {{workout.name}}" /></button>
		</form>
		
		<ui-view></ui-view>
	</div>
</div>