<html>
	<head>
	  <title>Black Spending Matters</title>
	  <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= javascript_include_tag 'application' %>
	  <%= csrf_meta_tags %>
	 	<script src="https://www.youtube.com/iframe_api"></script>
	 	<link rel="stylesheet" href="assets/animate.scss">
	 	<link rel="stylesheet" href="assets/main.scss">
	 	<!-- <link href="assets/bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet"> -->
	</head>
	<body ng-app="black_spending">
		<!-- <div class="background"> -->
			<div class="container">
				<!-- Nav row --> 
				<div class="row">
					<div ng-include="'assets/_nav.html'" ng-controller="NavCtrl as nav"></div>
					<hr>
				</div>
				<!-- end of Nav row -->
				<!-- Content row -->
				<div class="row">
				    
				    <div ui-view>
				    <!-- Templates load here --> 
				    </div>
				   
				</div>
				 <!-- End Content row -->
			 </div>
		<!--  </div> -->
	</body>
</html>
